div {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	width: 100px;
	height: 100px;
	border: 1px solid black;

}

.ex {

}
.player {
	background-image: url('./img/krest.png');
}

.computer {
	background-image: url('./img/null.png');
}